[package]
name = "bevy_fft"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17.2"
bytemuck = "1.24.0"
image = { version = "0.25.8", default-features = false }

[[example]]
name = "fft"
path = "examples/fft.rs"

[features]
file_watcher = ["bevy/file_watcher"]